<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>493340551218-pivj565pon10rap5vvtp7gdlfo1vl4r8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.493340551218-pivj565pon10rap5vvtp7gdlfo1vl4r8</string>
	<key>API_KEY</key>
	<string>AIzaSyDTF-w6GQqK4wqpo0QhaAg7kPq7fFKJU6Q</string>
	<key>GCM_SENDER_ID</key>
	<string>493340551218</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mayte.mayte</string>
	<key>PROJECT_ID</key>
	<string>mayte-62954</string>
	<key>STORAGE_BUCKET</key>
	<string>mayte-62954.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:493340551218:ios:14b2eef533359025</string>
	<key>DATABASE_URL</key>
	<string>https://mayte-62954.firebaseio.com</string>
</dict>
</plist>